
.btn-tab-notselected {
    width: fit-content;
    padding: 5px 20px 5px 20px;
    margin: 1px 1px 0px 1px; 
    background-color: #0094ff;
    border: 0px;
    color: white;
}

.btn-tab-selected {
    width: fit-content;
    padding: 5px 20px 5px 20px;
    margin: 1px 1px 0px 1px;
    background-color: red;
    border: 0px;
    color: white;
}

.btn-tab:hover {
    background-color: #0080ff;
}

.testing {
    font-size: 10px;
}

.tab-content {
    margin: 0px;
    border: solid;
    padding: 10px;
}

