@page "/"


<PageTitle>Welcome</PageTitle>


<h1>Component for Blazor</h1>

<p>This is my attempt at documenting my blazor custom components which I am creating for my own personal use and to learn more on Blazor.</p>

<p>There may be many improvments that can be made which I am happy to hear or if you prefer take a copy of the code and make your own.</p>





