@page "/generic-buttons"
@using APSIZE.Component.Templates.Components.Buttons
<h3>Generic Button Types</h3>

<h2>Primary</h2>
<div class="flex-container">
    <div><GeneralButton CssClass="primary" Text="Primary Button"></GeneralButton></div>
    <div><GeneralButton CssClass="secondary" Text="Secondary Button"></GeneralButton></div>
    <div><GeneralButton CssClass="success" Text="Success Button"></GeneralButton></div>
    <div><GeneralButton CssClass="danger" Text="Danger Button"></GeneralButton></div>
    <div><GeneralButton CssClass="btn" ButtonBackgroundColour="orange" ButtonBorderColour="orange" ButtonBorderRadius="15px" ButtonTextColour="white" Text="Custom Colour"></GeneralButton></div>
    <div><GeneralButton CssClass="btn" Text="No Custom"></GeneralButton></div> 
</div>

@code {

}
