@page "/checkbox-list"

<h2>Checkbox Square List</h2>

<p>This componet is a check box that is square that can have any text images etc. in
    the box.
    <br />
    When selected it changes and shows a border and a tick.
    <br />
    The boxes can be custmoized with the following attributes changable:
    <ul>
        <li>An image can be added and its width and height set.</li>
        <li>The border colour can be specified.</li>
        <li>The box background colour can be specified.</li>
        <li>The box container height and width can also be set.</li>
    </ul>
</p>

<i class="bi bi-activity"></i>

<ApTabControl>
    <ApTabPage Text="Demo"     
    ImageHeight="50px" ImageWidth="50px">
        <div class="row">
            <input type="text" @bind="@CheckBocBackColourString" />

            <br />
            @CheckBocBackColourString
        </div>
        <div class="row">
            <ApCheckListBox Items="ItemsList" ContainerHeight="500px" ContainerWidth="150px" CheckBoxBackColour="@CheckBocBackColourString"
                        CheckedBorderColour="red">
                <ItemTemplate>
                    <img src="https://cdn1.vectorstock.com/i/1000x1000/31/95/user-sign-icon-person-symbol-human-avatar-vector-12693195.jpg"
                     width="150px" height="150px" /><br />
                    @context
                </ItemTemplate>
            </ApCheckListBox>
        </div>
    </ApTabPage>
    <ApTabPage Text="Code">
        <pre>
            <code>
                //Handles any change of each check box from checked to not checked
                void HandleChange(TItem item)
                {
                    if (SelectedItems.Contains(item))
                    {
                        SelectedItems.Remove(item);
                    }
                    else
                    {
                        SelectedItems.Add(item);
                    }

                    SelectedItemsChanged.InvokeAsync(SelectedItems);
                }
            </code>
        </pre>
    </ApTabPage>
</ApTabControl>


@code {

    public string CheckBocBackColourString { get; set; }

    public List<string> ItemsList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ItemsList.Add("Craig");
        ItemsList.Add("Steve");
    }
}